<!DOCTYPE html>
<html lang="zh">
<head>
    <th:block th:include="include :: header('数据审核')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">待审核</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">已审核</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active1">
                        <div class="panel-body1">


                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane active2">
                        <div class="panel-body2">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:include="include :: footer" />
</body>
</html>
