<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('库存列表')" />
</head>
<style>
    /*修改表头颜色*/
    .table-bordered table thead{
        background-color:rgba(48,146,62, 0.9);
        color: whitesmoke;
        height: 55px;
    }
    /*按钮背景色*/
    .btn-success{
        background-color: #30923E;
    }

</style>
<body class="gray-bg">
     <div class="container-div">

         <div class="row">
            <!-- <div class="col-sm-12 search-collapse">
                 <form id="formId">
                     <div class="select-list">
                         <ul>
                             <li>
                                 <p>市：</p>
                                 <input type="text" name="city"/>
                             </li>
                             <li>
                                 <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                         class="fa fa-search"></i>&nbsp;搜索</a>
                                 <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                         class="fa fa-refresh"></i>&nbsp;重置</a>
                             </li>
                         </ul>
                     </div>
                 </form>
             </div>-->

             <div class="btn-group-sm" id="toolbar" role="group">


                 <a class="btn btn-warning" onclick="Echars()" >
                     <i class="fa fa-download"></i> 图表展示
                 </a>
             </div>
             <div class="col-sm-12 select-table table-bordered">
                 <table id="bootstrap-table"></table>
             </div>
         </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('reserves:statistics:edit')}]];
        var removeFlag = [[${@permission.hasPermi('reserves:statistics:remove')}]];
        var prefix = ctx + "reserves/statistics";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "库存",
                showSearch: false,
                showToggle: false,
                showColumns: false,
                showRefresh: false,
                showExport: true,
                columns: [
                {
                    field : 'id',
                    title : 'ID',
                    align: 'center',
                    valign: 'middle',
                    visible: false
                },

                    {
                        field : 'address',
                        align: 'center',
                        valign: 'middle',
                        title : '地址',
                    },
                    {
                        field : 'name',
                        title : '物资名称',
                        align: 'center',
                        valign: 'middle',
                    },
                    {
                        field : 'inventory',
                        align: 'center',
                        valign: 'middle',
                        title : '物资库存',
                    },

]
            };
            $.table.init(options);
        });


        function Echars() {
            var url = prefix + '/Echars';
            $.modal.openFull("灾害储备库统计图", url);
        }
    </script>
</body>
</html>