<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增保育土壤')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-soil-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分面积(单位：hm2)：</label>
                <div class="col-sm-8">
                    <input name="standArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林地土壤侵蚀模数(单位：t/hm2)：</label>
                <div class="col-sm-8">
                    <input name="woodlandSoil" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">无林地土壤侵蚀模数(单位：t/hm2)：</label>
                <div class="col-sm-8">
                    <input name="woodlandNotsoil" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林地土壤容重(单位：t/m3)：</label>
                <div class="col-sm-8">
                    <input name="soilDensity" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林地土壤含氮量(单位：%)：</label>
                <div class="col-sm-8">
                    <input name="soilNitrogenContent" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林地土壤含磷量(单位：%)：</label>
                <div class="col-sm-8">
                    <input name="soilPhosphorusContent" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林地土壤含钾量(单位：%)：</label>
                <div class="col-sm-8">
                    <input name="potassiumContentSoil" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林地土壤有机质含量(单位：%)：</label>
                <div class="col-sm-8">
                    <input name="soilOrganicMatter" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分年固土量(单位：t)：</label>
                <div class="col-sm-8">
                    <input name="soilConsolidation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分年固土价值(单位：元)：</label>
                <div class="col-sm-8">
                    <input name="soilConsolidationValue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分年保持氮量(单位：t)：</label>
                <div class="col-sm-8">
                    <input name="maintainingNitrogen" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分年保持磷量(单位：t)：</label>
                <div class="col-sm-8">
                    <input name="maintainingPhosphorus" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分年保持钾量(单位：t)：</label>
                <div class="col-sm-8">
                    <input name="maintainingPotassium" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分年保持有机质量(单位：t)：</label>
                <div class="col-sm-8">
                    <input name="organicQuality" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">林分年保肥价值(单位：元)：</label>
                <div class="col-sm-8">
                    <input name="protectFertilizerValue" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "eceas/soil";
        $("#form-soil-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-soil-add').serialize());
            }
        }
    </script>
</body>
</html>