<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zaihai.caiji.mapper.SpecialMapper">
    
    <resultMap type="Special" id="SpecialResult">
        <result property="id"    column="ID"    />
        <result property="name"    column="NAME"    />
        <result property="remark"    column="REMARK"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="status"    column="STATUS"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="groupId"    column="GROUP_ID"    />
    </resultMap>

    <sql id="selectSpecialVo">
        select ID, NAME, REMARK, CREATE_TIME, CREATE_BY, STATUS, UPDATE_TIME, UPDATE_BY, GROUP_ID from special
    </sql>

    <select id="selectSpecialList" parameterType="Special" resultMap="SpecialResult">
        <include refid="selectSpecialVo"/>
        <where>  
            <if test="name != null  and name != ''"> and NAME like concat('%', #{name}, '%')</if>
            <if test="remark != null  and remark != ''"> and REMARK = #{remark}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="createBy != null  and createBy != ''"> and CREATE_BY = #{createBy}</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
            <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and UPDATE_BY = #{updateBy}</if>
            <if test="groupId != null "> and GROUP_ID = #{groupId}</if>
        </where>
    </select>
    
    <select id="selectSpecialById" parameterType="Long" resultMap="SpecialResult">
        <include refid="selectSpecialVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertSpecial" parameterType="Special" useGeneratedKeys="true" keyProperty="id">
        insert into special
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">NAME,</if>
            <if test="remark != null  and remark != ''">REMARK,</if>
            <if test="createTime != null ">CREATE_TIME,</if>
            <if test="createBy != null  and createBy != ''">CREATE_BY,</if>
            <if test="status != null  and status != ''">STATUS,</if>
            <if test="updateTime != null ">UPDATE_TIME,</if>
            <if test="updateBy != null  and updateBy != ''">UPDATE_BY,</if>
            <if test="groupId != null ">GROUP_ID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="groupId != null ">#{groupId},</if>
         </trim>
    </insert>

    <update id="updateSpecial" parameterType="Special">
        update special
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">NAME = #{name},</if>
            <if test="remark != null  and remark != ''">REMARK = #{remark},</if>
            <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">CREATE_BY = #{createBy},</if>
            <if test="status != null  and status != ''">STATUS = #{status},</if>
            <if test="updateTime != null ">UPDATE_TIME = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">UPDATE_BY = #{updateBy},</if>
            <if test="groupId != null ">GROUP_ID = #{groupId},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteSpecialById" parameterType="Long">
        delete from special where ID = #{id}
    </delete>

    <delete id="deleteSpecialByIds" parameterType="String">
        delete from special where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>