<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 16px;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #FFFFFF;
        color: black;
    }

    .tg td input {
        border: 0px;
        text-align: center;
        background-color: #e5f7f6;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #FFFFFF;
        color: white;
    }

    .tg .tg-lboi {
        border-color: inherit;
        text-align: left;
        vertical-align: middle
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    /*表头背景色 00b5a5*/
    #tr1 > th, #tr2 > td, #tr3 > td {
        background: #50c2c1;
        color: white;
    }

    /*表头 每行第一个td背景色*/
    tr td:first-child {
        background: #50c2c1;
        color: white;
    }

    tr:nth-of-type(odd) {
        background: #ffffff;
    }

    tr:nth-of-type(odd) input {
        background: #e5f7f6;
    }

    .fun_btn {
        float: left;
        margin-left: 30px;
    }

    .fun_btn button {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        margin-left: 15px;
        border-radius: 5px;
    }

    .fun_btn button:hover {
        background-color: #50c2c1;
        border-color: #50c2c1;
    }
</style>
<head>
    <th:block th:include="include :: header('退牧还草工程任务创建')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>

</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="form-publish-add" class="form-horizontal">
                <!--<h4 class="form-header h4">任务年份</h4>-->
                <div class="row">
                    <div class="select-list">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>年份：</label>
                                <div class="col-sm-8">
                                    <input type="text" name="year" style="height: 30px;border:1px solid #f7f7f7;text-align:center;width: 70px;" placeholder="请选择" id="test2"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group-sm" id="toolbar" role="group">
                        <a class="btn btn-info" onclick="daoru()"
                           shiro:hasPermission="system:publish:import">
                            <i class="fa fa-upload"></i> 导入
                        </a>
                    </div>
                </div>


                <span style="font-size: 16px;">任务信息</span>
                <span style="font-size: 16px;float: right">单位：建设(万亩)/投资(万元)</span>
                <table id="mytable" class="tg" name="mytable">
                    <tr id="tr1">
                        <th class="tg-0lax" rowspan="3" style="text-align: center; width: 120px;">省份</th>
                        <th class="tg-0lax" colspan="2" style="text-align: center">围栏部分</th>
                        <th class="tg-0lax" colspan="10" style="text-align: center">其他部分</th>
                        <th class="tg-0lax" rowspan="3" style="text-align: center;">中央资金</th>
                        <th class="tg-0lax" rowspan="3" style="text-align: center;">地方资金</th>
                    </tr>
                    <tr id="tr2">
                        <td class="tg-0lax" colspan="2" style="text-align: center">围栏合计</td>
                        <td class="tg-0lax" colspan="2" style="text-align: center">退化草原改良</td>
                        <td class="tg-0lax" colspan="2" style="text-align: center">人工种草地</td>
                        <td class="tg-0lax" colspan="2" style="text-align: center">含饲棚围</td>
                        <td class="tg-0lax" colspan="2" style="text-align: center">黑土滩</td>
                        <td class="tg-0lax" colspan="2" style="text-align: center">毒害草</td>
                    </tr>
                    <tr id="tr3">
                        <td class="tg-0lax" style="text-align: center">建设</td>
                        <td class="tg-0lax" style="text-align: center">投资</td>
                        <td class="tg-0lax" style="text-align: center">建设</td>
                        <td class="tg-0lax" style="text-align: center">投资</td>
                        <td class="tg-0lax" style="text-align: center">建设</td>
                        <td class="tg-0lax" style="text-align: center">投资</td>
                        <td class="tg-0lax" style="text-align: center">建设</td>
                        <td class="tg-0lax" style="text-align: center">投资</td>
                        <td class="tg-0lax" style="text-align: center">建设</td>
                        <td class="tg-0lax" style="text-align: center">投资</td>
                        <td class="tg-0lax" style="text-align: center">建设</td>
                        <td class="tg-0lax" style="text-align: center">投资</td>
                    </tr>

                    <tr th:each="tTaskPublishe : ${TTaskPublishList}">
                        <td style="text-align: center;" th:text="${tTaskPublishe.province}"><input name="province" id="province" style="display: none" th:value="${tTaskPublishe.province}"></td>
                        <td><input name="wlScale" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.wlScale} == 0.0 ? '':${tTaskPublishe.wlScale}"> </td>
                        <td><input name="wlInvestment" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.wlInvestment} == 0.0 ? '':${tTaskPublishe.wlScale}"> </td>
                        <td><input name="thzyglSize" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.thzyglSize} == 0.0 ? '':${tTaskPublishe.thzyglSize}"> </td>
                        <td><input name="thzyglMoney" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.thzyglMoney} == 0.0 ? '':${tTaskPublishe.thzyglMoney}"> </td>
                        <td><input name="rgscdSize" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.rgscdSize} == 0.0 ? '':${tTaskPublishe.rgscdSize}"> </td>
                        <td><input name="rgscdMoney" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.rgscdMoney} == 0.0 ? '':${tTaskPublishe.rgscdMoney}"> </td>
                        <td><input name="hspjSize" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.hspjSize} == 0.0 ? '':${tTaskPublishe.hspjSize}"> </td>
                        <td><input name="hspjMoney" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.hspjMoney} == 0.0 ? '':${tTaskPublishe.hspjMoney}"> </td>
                        <td><input name="httSize" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.httSize} == 0.0 ? '':${tTaskPublishe.httSize}"> </td>
                        <td><input name="httMoney" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.httMoney} == 0.0 ? '':${tTaskPublishe.httMoney}"> </td>
                        <td><input name="dhcSize" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.dhcSize} == 0.0 ? '':${tTaskPublishe.dhcSize}"> </td>
                        <td><input name="dhcMoney" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.dhcMoney} == 0.0 ? '':${tTaskPublishe.dhcMoney}"> </td>
                        <td><input name="zyMoney" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.zyMoney} == 0.0 ? '':${tTaskPublishe.zyMoney}"> </td>
                        <td><input name="dfMoney" type="text" maxlength="8" style="width: 100%; height: 100%"  min th:value="${tTaskPublishe.dfMoney} == 0.0 ? '':${tTaskPublishe.dfMoney}"> </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" id="button-confirm" onclick="publishSave()"><i class="fa fa-save"></i>&nbsp;保存
                </button>
                <button type="button" class="btn btn-sm btn-primary" onclick="btnyizhu()"><i class="fa fa-check"></i>发布任务
                </button>
                <button type="button" class="btn btn-sm btn-danger" onclick="$.modal.close()"><i
                        class="fa fa-reply-all"></i>关 闭
                </button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>

<script src="layer/layer.js"></script>
<script src="layer/extend/layer.ext.js"></script>
<script th:inline="javascript">
    var prefix = ctx + "system/publish";

    $(function () {
        var options = {
            url: prefix + "/list",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            showSearch: false,
            showToggle: false,
            showColumns: false,
            showRefresh: false,
            pagination: false
        };
        $.table.init(options);
    });
</script>
<script type="text/javascript">
    $("#form-publish-add").validate({
        rules: {
            onkeyup: false,
            min: true,
        },
        errorPlacement: function (error, element) {
            $.modal.alert('请输入不小于0的数字！');
        },
        focusCleanup: true
    });


    function save() {
        $.post(prefix + "/publishList", $('#form-publish-add').serialize(), function (data) {
            //data中是服务端返回的数据
            //这里进行成功后的渲染。。。。。。

        });
        return false;//在这里返回false
    }


    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test2',
            type: 'year',
            min: 'new Date()'
        });
    });

    function btnyizhu() {
        if ($.validate.form()) {
            let flag = false;
            /*$('.pulish input[type=text]').each(function () {
                var name = $(this).val();
                if (name) {
                    flag = false;
                    return false;
                }
            });*/
            if (flag) {
                $.modal.confirm("信息未填写成,请填写后提交", function () {
                })
            } else if ($("#test2").val() == '') {
                $.modal.confirm("年份未填写,请填写后提交", function () {
                })
            } else {
                var orderItemArray = new Array();

                $("#form-publish-add tr").each(function () {
                    //this代表当前dom对象tr
                    var that = this;
                    var orderItemObj = new Object();
                    $(that).find("select,input").each(function () {
                        var name = $(this).attr("name");
                        orderItemObj[name] = $(this).val();
                    });
                    orderItemObj['year'] = $("#test2").val();
                    orderItemArray.push(orderItemObj);
                });
                var url = ctx + "system/publish/addFaBu";
                $.ajax({
                    url: url,
                    dataType: "json",
                    contentType: "application/json;charsetset=UTF-8",//必须
                    type: "post",
                    cache: false,
                    data: JSON.stringify(orderItemArray),//必须
                    success: function (obj) {
                        debugger
                        if (obj == "400") {
                            layer.alert('任务发布成功！', function (index) {
                                $.modal.close();
                                parent.location.reload();
                            });
                        }else if(obj.code == "500"){
                            layer.alert(obj.msg);
                        }else {
                            layer.alert("发布失败，请查看网络！！！");
                        }
                    },
                    error: function (textStatus, e) {
                        layer.alert("系统ajax交互错误: ");
                    }
                });
            }
        }
    }

    function publishSave() {
        if ($.validate.form()) {
            let flag = false;
            /*$('.pulish input[type=text]').each(function () {
                var name = $(this).val();
                if (name != '') {
                    flag = false;
                }
            });*/
            if (flag) {
                $.modal.confirm("信息未填写,请填写后提交", function () {
                })
            }
            if ($("#test2").val() == '') {
                $.modal.confirm("年份未填写,请填写后提交", function () {
                })
                return false;
            } else {
                var orderItemArray = new Array();

                $("#form-publish-add tr").each(function () {
                    //this代表当前dom对象tr
                    var that = this;
                    var orderItemObj = new Object();
                    $(that).find("select,input").each(function () {
                        var name = $(this).attr("name");
                        orderItemObj[name] = $(this).val();
                    });
                    orderItemObj['year'] = $("#test2").val();
                    orderItemArray.push(orderItemObj);
                });
                var url = ctx + "system/publish/publishSave";
                $.ajax({
                    url: url,
                    dataType: "json",
                    contentType: "application/json;charsetset=UTF-8",//必须
                    type: "post",
                    cache: false,
                    data: JSON.stringify(orderItemArray),//必须
                    success: function (obj) {
                        if (obj == "400") {
                            layer.alert('任务保存成功！', function (index) {
                                window.location.reload();
                                $.modal.close()
                            });
                        } else {
                            layer.alert("保存失败，请查看网络！！！");
                        }
                    },
                    error: function (textStatus, e) {
                        layer.alert("系统ajax交互错误: ");
                    }
                });
            }
        }
    }

</script>
<script>
    var searchinput = $("input");
    var textWidth = function (text) {
        var sensor = $('<pre>' + text + '</pre>').css({display: 'none'});
        $('body').append(sensor);
        var width = sensor.width();
        sensor.remove();
        return width;
    };
    searchinput.unbind('keyup').bind('keyup', function () {
        $(this).width(textWidth($(this).val() + 20));
    });
</script>
<script>
    /* 进入统一添加获取所有省份 */
    $(function () {
        $.ajax({
            url: ctx + "system/publish/getProvinces",
            data: "data",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if($("#mytable tr").length > 3){
                    return ;
                }
                $.each(data, function (index, aaa) {
                    var tr;
                    tr = '<td style="text-align: center;">' + aaa + '<input name="province" id="province"  type="hidden" value="' + aaa + '">' + '</td>'
                        + '<td >' + '<input name="wlScale" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="wlInvestment" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="thzyglSize" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="thzyglMoney" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="rgscdSize" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="rgscdMoney" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="hspjSize" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="hspjMoney" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="httSize" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="httMoney" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="dhcSize"  type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="dhcMoney" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="zyMoney" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>'
                        + '<td >' + '<input name="dfMoney" type="text" maxlength="8"' + 'style="width: 100%; height: 100%" min>' + '</td>';
                    $("#mytable").append('<tr class="pulish">' + tr + '</tr>')
                })
                let total = '<td style="text-align: center;">总合计<input name="province" style="display: none;" type="text" maxlength="8"' + '"  value="总合计">' +'</td>'
                    + '<td style="text-align: center;"><input id="wlScale"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="wlInvestment"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="thzyglSize"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="thzyglMoney"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="rgscdSize"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="rgscdMoney"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="hspjSize"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="hspjMoney"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="httSize"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="httMoney"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="dhcSize"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="dhcMoney"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="zyMoney"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>'
                    + '<td style="text-align: center;"><input id="dfMoney"  type="text" style="width: 100%; height: 100%" readonly="readonly">' + '</td>';
                $("#mytable").append('<tr class="pulish">' + total + '</tr>');
                $('input').blur(function () {
                    dataValidation();
                })
            }
        })
    })
</script>
<script>

    /* 报表导入 */
    function daoru(formId) {
        table.set();
        var currentId = $.common.isEmpty(formId) ? 'importTpl' : formId;
        layer.open({
            type: 1,
            area: ['400px', '230px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: '导入' + table.options.modalName + '数据',
            content: $('#' + currentId).html(),
            btn: ['<i class="fa fa-check"></i> 导入', '<i class="fa fa-remove"></i> 取消'],
            // 弹层外区域关闭
            shadeClose: true,
            btn1: function(index, layero){
                var file = layero.find('#file').val();
                if (file == '' || (!$.common.endWith(file, '.xls') && !$.common.endWith(file, '.xlsx'))){
                    $.modal.msgWarning("请选择后缀为 “xls”或“xlsx”的文件。");
                    return false;
                }
                var index = layer.load(2, {shade: false});
                $.modal.disable();
                var formData = new FormData(document.getElementById("impfrom"));
                formData.append("file", $('#file')[0].files[0]);
                // formData.append("updateSupport", $("input[name='updateSupport']").is(':checked'));
                // var table = document.getElementById("mytable");
                // var array = document.getElementsByTagName("tr4");
                // table.removeChild(array);
                $.ajax({
                    url: ctx + "system/publish/importData",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (data,result) {

                        let thead = '<tr id="tr1">\n' +
                            '    <th class="tg-0lax" rowspan="3" style="text-align: center; width: 120px;">省份</th>\n' +
                            '    <th class="tg-0lax" colspan="2" style="text-align: center">围栏部分</th>\n' +
                            '    <th class="tg-0lax" colspan="10" style="text-align: center">其他部分</th>\n' +
                            '    <th class="tg-0lax" rowspan="3" style="text-align: center;">中央资金</th>\n' +
                            '    <th class="tg-0lax" rowspan="3" style="text-align: center;">地方资金</th>\n' +
                            '</tr>\n' +
                            '<tr id="tr2">\n' +
                            '    <td class="tg-0lax" colspan="2" style="text-align: center">围栏合计</td>\n' +
                            '    <td class="tg-0lax" colspan="2" style="text-align: center">退化草原改良</td>\n' +
                            '    <td class="tg-0lax" colspan="2" style="text-align: center">人工种草地</td>\n' +
                            '    <td class="tg-0lax" colspan="2" style="text-align: center">含饲棚围</td>\n' +
                            '    <td class="tg-0lax" colspan="2" style="text-align: center">黑土滩</td>\n' +
                            '    <td class="tg-0lax" colspan="2" style="text-align: center">毒害草</td>\n' +
                            '</tr>\n' +
                            '<tr id="tr3">\n' +
                            '    <td class="tg-0lax" style="text-align: center">建设</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">投资</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">建设</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">投资</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">建设</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">投资</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">建设</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">投资</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">建设</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">投资</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">建设</td>\n' +
                            '    <td class="tg-0lax" style="text-align: center">投资</td>\n' +
                            '</tr>';
                        $("#mytable").html(thead)
                        let wlScale = 0;
                        let wlInvestment = 0;
                        let thzyglSize = 0;
                        let thzyglMoney = 0;
                        let rgscdSize = 0;
                        let rgscdMoney = 0;
                        let hspjSize = 0;
                        let hspjMoney = 0;
                        let httSize = 0;
                        let httMoney = 0;
                        let dhcSize = 0;
                        let dhcMoney = 0;
                        let zyMoney = 0;
                        let dfMoney = 0;
                        $.each(data, function (index, aaa) {
                            var tr;
                            if(aaa.wlScale == null){
                                aaa.wlScale = "";
                            }
                            if(aaa.wlInvestment == null){
                                aaa.wlInvestment = "";
                            }
                            if(aaa.thzyglSize == null){
                                aaa.thzyglSize = "";
                            }
                            if(aaa.thzyglMoney == null){
                                aaa.thzyglMoney = "";
                            }
                            if(aaa.rgscdSize == null){
                                aaa.rgscdSize = "";
                            }
                            if(aaa.rgscdMoney == null){
                                aaa.rgscdMoney = "";
                            }
                            if(aaa.hspjSize == null){
                                aaa.hspjSize = "";
                            }
                            if(aaa.hspjMoney == null){
                                aaa.hspjMoney = "";
                            }
                            if(aaa.httSize == null){
                                aaa.httSize = "";
                            }
                            if(aaa.httMoney == null){
                                aaa.httMoney = "";
                            }
                            if(aaa.dhcSize == null){
                                aaa.dhcSize = "";
                            }
                            if(aaa.dhcMoney == null){
                                aaa.dhcMoney = "";
                            }
                            if(aaa.zyMoney == null){
                                aaa.zyMoney = "";
                            }
                            if(aaa.dfMoney == null){
                                aaa.dfMoney = "";
                            }
                            if(aaa.wlScale != ""){
                                wlScale += parseInt(aaa.wlScale);
                            }
                            if(aaa.wlInvestment != ""){
                                wlInvestment += parseInt(aaa.wlInvestment);
                            }
                            if(aaa.thzyglSize != ""){
                                thzyglSize += parseInt(aaa.thzyglSize);
                            }
                            if(aaa.thzyglMoney != ""){
                                thzyglMoney += parseInt(aaa.thzyglMoney);
                            }
                            if(aaa.rgscdSize != ""){
                                rgscdSize += parseInt(aaa.rgscdSize);
                            }
                            if(aaa.rgscdMoney != ""){
                                rgscdMoney += parseInt(aaa.rgscdMoney);
                            }
                            if(aaa.hspjSize != ""){
                                hspjSize += parseInt(aaa.hspjSize);
                            }
                            if(aaa.hspjMoney != ""){
                                hspjMoney += parseInt(aaa.hspjMoney);
                            }
                            if(aaa.httSize != ""){
                                httSize += parseInt(aaa.httSize);
                            }
                            if(aaa.httMoney != ""){
                                httMoney += parseInt(aaa.httMoney);
                            }
                            if(aaa.dhcSize != ""){
                                dhcSize += parseInt(aaa.dhcSize);
                            }
                            if(aaa.dhcMoney != ""){
                                dhcMoney += parseInt(aaa.dhcMoney);
                            }
                            if(aaa.zyMoney != ""){
                                zyMoney += parseInt(aaa.zyMoney);
                            }
                            if(aaa.dfMoney != ""){
                                dfMoney += parseInt(aaa.dfMoney);
                            }
                            tr = '<td style="text-align: center;">' + aaa.province + '<input name="province" style="display: none;" type="text" maxlength="8"' + '"  value="'+ aaa.province +'">' +'</td>'
                                + '<td style="text-align: center;"><input name="wlScale" type="text" style="width: 100%; height: 100%" min value="' + aaa.wlScale + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="wlInvestment" type="text" style="width: 100%; height: 100%" min value="' + aaa.wlInvestment + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="thzyglSize" type="text" style="width: 100%; height: 100%" min value="' + aaa.thzyglSize + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="thzyglMoney" type="text" style="width: 100%; height: 100%" min value="' + aaa.thzyglMoney + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="rgscdSize" type="text" style="width: 100%; height: 100%" min value="' + aaa.rgscdSize + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="rgscdMoney" type="text" style="width: 100%; height: 100%" min value="' + aaa.rgscdMoney + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="hspjSize" type="text" style="width: 100%; height: 100%" min value="' + aaa.hspjSize + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="hspjMoney" type="text" style="width: 100%; height: 100%" min value="' + aaa.hspjMoney + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="httSize" type="text" style="width: 100%; height: 100%" min value="' + aaa.httSize + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="httMoney" type="text" style="width: 100%; height: 100%" min value="' + aaa.httMoney + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="dhcSize" type="text" style="width: 100%; height: 100%" min value="' + aaa.dhcSize + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="dhcMoney" type="text" style="width: 100%; height: 100%" min value="' + aaa.dhcMoney + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="zyMoney" type="text" style="width: 100%; height: 100%" min value="' + aaa.zyMoney + '">' + '</td>'
                                + '<td style="text-align: center;"><input name="dfMoney" type="text" style="width: 100%; height: 100%" min value="' + aaa.dfMoney + '">' + '</td>';
                            $("#mytable").append('<tr class="pulish">' + tr + '</tr>')
                        });
                        let total = '<td style="text-align: center;">总合计<input name="province" style="display: none;" type="text" maxlength="8"' + '"  value="总合计">' +'</td>'
                            + '<td style="text-align: center;"><input id="wlScaleSum"  type="text" style="width: 100%; height: 100%" min value="' + wlScale + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="wlInvestment"  type="text" style="width: 100%; height: 100%" min value="' + wlInvestment + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="thzyglSize"  type="text" style="width: 100%; height: 100%" min value="' + thzyglSize + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="thzyglMoney"  type="text" style="width: 100%; height: 100%" min value="' + thzyglMoney + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="rgscdSize"  type="text" style="width: 100%; height: 100%" min value="' + rgscdSize + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="rgscdMoney"  type="text" style="width: 100%; height: 100%" min value="' + rgscdMoney + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="hspjSize"  type="text" style="width: 100%; height: 100%" min value="' + hspjSize + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="hspjMoney"  type="text" style="width: 100%; height: 100%" min value="' + hspjMoney + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="httSize"  type="text" style="width: 100%; height: 100%" min value="' + httSize + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="httMoney"  type="text" style="width: 100%; height: 100%" min value="' + httMoney + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="dhcSize"  type="text" style="width: 100%; height: 100%" min value="' + dhcSize + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="dhcMoney"  type="text" style="width: 100%; height: 100%" min value="' + dhcMoney + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="zyMoney"  type="text" style="width: 100%; height: 100%" min value="' + zyMoney + '">' + '</td>'
                            + '<td style="text-align: center;"><input id="dfMoney"  type="text" style="width: 100%; height: 100%" min value="' + dfMoney + '">' + '</td>';
                        $("#mytable").append('<tr class="pulish">' + total + '</tr>')
                        $.modal.closeAll();
                        $.modal.alertSuccess(result.msg);
                        $.table.refresh();
                        //数据校验
                        $('input').blur(function () {
                            dataValidation();
                        })
                    }
                });
            }
        });
    }

    /* 数据校验 */
    function dataValidation() {
        let list = ['wlScale','wlInvestment','jmSize','jmMoney','xmSize','xmMoney','hqlxSize','hqlxMoney','smhzlSize','smhzlMoney','thzyglSize','thzyglMoney','rgscdSize','rgscdMoney','hspjSize','hspjMoney','httSize','httMoney','dhcSize','dhcMoney','zyMoney','dfMoney'];
        for(var i = 0; i < list.length; i++){
            let current = $('input[name="'+list[i]+'"]');
            let sum = 0;
            for(var y = 0; y < current.length; y++){
                if(current[y].value!=''&&current[y].value!=null){
                    sum += parseInt(current[y].value);
                }
            }
            $('#' + list[i]).val(sum);
        }
    }
</script>

</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" id="impfrom" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果任务已发布，更新这条数据。"> 是否更新已发布的数据
                &nbsp; <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i
                    class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>