<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增意见')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-idea-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">意见内容：</label>
                <div class="col-sm-8">
                    <input name="ideaContent" class="form-control" type="text">
                    <input name="taskId" class="form-control" type="hidden"  th:value="${taskId}"/>
                    <input name="status" class="form-control" type="hidden"  th:value="${status}"/>
                    <input name="ideaCreateUser" class="form-control" type="hidden"  th:value="${ideaCreateUser}"/>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/idea";
        $("#form-idea-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-idea-add').serialize());
            }
        }
    </script>
</body>
</html>